<div class='reveal__play' (click)='play()' *ngIf='!hideOverlay'>
    <img class='play' src='./assets/images/play-solid.svg' />
    Click to Play 
    <div class='reveal__sound'>(sound on <img src='./assets/images/volume.svg' class='volume'/>)</div>
</div>

<video  controls id='video'>
    <source src='./assets/videos/gender-reveal.mp4' type="video/mp4">
    Your browser does not support the video tag.
  </video>

<div  class='reveal__text' *ngIf='videoEnded'>
    <div class='reveal__header'>Congrats Ashley and Bobby!</div>
    <div class='reveal__subheader'>
        Can't wait to meet your newest addition! <br>
        From your favorite sister, SIL, Auntie <br>and Game Master - </div>
    <div class='reveal__signature'>Courtney (Coco)</div>
</div>